@use 'variables' as var;
@use 'borders' as borders;
@use 'colors' as colors;

.login {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: var.$spacing-inline-xl;

  &__box {
    width: 100%;
    max-width: 800px;
    background-color: colors.$color-primary-04;
    padding: var.$spacing-stack-3xl 0;
    border-radius: borders.$radius-md;

    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: var.$spacing-stack-xl var.$spacing-inline-xl;
  }

  &__logo {
    width: 500px;
    height: 60px;
    object-fit: contain;
    object-position: center;
    color: colors.$color-primary-05;
  }

  &__form {
    width: 400px;
    background: colors.$color-white;
    padding: var.$spacing-stack-xl var.$spacing-inline-xl;
    border-radius: borders.$radius-md;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var.$spacing-stack-lg;
  }

  &__button {
    width: 100%;
    height: 48px;
    background: colors.$color-primary-01;
    border: none;
    border-radius: borders.$radius-sm;
    color: colors.$color-white;
    font-size: var.$font-size-md;
    cursor: pointer;

    &:hover {
      background: colors.$color-primary-02;
    }
  }

  &__forgot-password {
    text-align: center;
    font-size: var.$font-size-sm;
    color: colors.$color-primary-06;
    cursor: pointer;
    &:hover {
      color: colors.$color-primary-02;
      text-decoration: underline;
    }
  }
}
